@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About the MasterMind Team";
}

@Styles.Render("~/Content/Cards")
@Styles.Render("~/Content/SocialIcons")

<h1>Meet the Team!</h1>
<br /><br />
<div class="col-md-4">
    <div class="card transition">
        <h2 class="transition">Alexandre Rodrigues</h2>
        <p>Full-stack .Net professional with over than 7 years of experience. Cutting-edge applications are the must!</p>
        <div class="cta-container transition">
            <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="card_circle card_alexandre transition"></div>
    </div>
</div>
<div class="col-md-4">
    <div class="card transition">
        <h2 class="transition">Eduardo Nicacio</h2>
        <p>Full-stack .Net Professional with over than 11 years of experience in both Web &amp; Windows development.</p>
        <div class="cta-container transition">
            <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                <li><a href="https://www.facebook.com/EduNicacio" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/ecnsoft" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/111075473921423934994/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/eduardonicacio" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="card_circle card_eduardo transition"></div>
    </div>
</div>
<div class="col-md-4">
    <div class="card transition">
        <h2 class="transition">Lucas Lucci</h2>
        <p>Out-of-the-box Web Designer and UX Professional. Able to plan, draw and integrate any kind of design.</p>
        <div class="cta-container transition">
            <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                <li><a href="https://www.facebook.com/people/Lucas-Lucci/100009127424853" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/lucaslucci" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="card_circle card_lucas transition"></div>
    </div>
</div>