@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=Corben:bold');
@import url('http://fonts.googleapis.com/css?family=Nobile');
@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');

* {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background: -webkit-linear-gradient(rgb(255,255,0), rgb(255,65,0));
    background: -o-linear-gradient(rgb(255,255,0), rgb(255,65,0));
    background: -moz-linear-gradient(rgb(255,255,0), rgb(255,65,0));
    background: linear-gradient(rgb(255,255,0), rgb(255,65,0));
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
    color:#fff;
}

#general {
    position: relative;
    /*background:url(images/strips.png) repeat-x center bottom;*/
}

#logo {
    margin: auto;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-image: url(images/board.png);
    background-repeat: no-repeat;
}

#nickname {
    height: 60px;
    width: 300px;
    margin: 40px 0;
    background-color: #FFF;
    border-radius: 10px;
    border: 3px solid;
    border-color: rgb(255,51,0);
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

#btns {
    position:static;
    float: left;
    width: 50%;
    height: auto;
}

#btnsingle {
    border: 0;
    background: none;
    width: 321px;
    height: 60px;
    background: url(images/single.png) no-repeat center top;
    background-size:contain;
}

    #btnsingle:hover {
        width: 353px;
        height: 66px;
        background-size: 353px 66px;
        -ms-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
        cursor: pointer;
        background-size:contain;
    }

#btnmulti {
    border: 0;
    background: none;
    width: 286px;
    height: 60px;
    background: url(images/multi.png) no-repeat center top;
    background-size:contain;
}

    #btnmulti:hover {
        width: 315px;
        height: 66px;
        background-size: 315px 66px;
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
        cursor:not-allowed;
        background-size:contain;
    }

/******************* Game Page *********************/

#top {
    position: relative;
    height: 100px;
    width: 800px;
    margin: auto;
    padding-top: 20px;
}

#side {
    position: relative;
    float: left;
    height: auto;
    width: 250px;
    margin: auto;
    padding: 10px;
}

    #side img:hover {
        -ms-transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
        cursor: pointer;
    }

#middle {
    position: relative;
    height: auto;
    width: 800px;
    margin: auto;
}

.box {
    position: fixed;
    width: 500px;
    height: 525px;
    margin-left: 50%;
    margin-top: 40px;
    border-radius: 25px;
    left: -250px;
    z-index: 1;
    display: none;
    background: -webkit-linear-gradient(rgb(0,204,204), rgb(0,51,255));
    background: -o-linear-gradient(rgb(0,204,204), rgb(0,51,255));
    background: -moz-linear-gradient(rgb(0,204,204), rgb(0,51,255));
    background: linear-gradient(rgb(0,204,204), rgb(0,51,255));
}

    .box a {
        text-decoration: none;
        color: #040346;
    }

/***************************************************/


/****************** Board Styles *******************/

#board {
    position: relative;
    float: left;
    height: 446px;
    width: 483px;
    margin: auto;
    padding-top: 6px;
    padding-left: 3px;
    background: url(images/gameboard.png) no-repeat;
}

.pins {
    position: relative;
    float: left;
    height: 30px;
    width: 30px;
    margin: 5px;
    background: url(images/hole.png) no-repeat;
}

.check {
    position: relative;
    float: left;
    height: 30px;
    width: 70px;
    margin: 5px;
    background: url(images/holesSmall.png) no-repeat;
}

.btnCheck {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(images/check.png);
    background-color: transparent;
    cursor: pointer;
}

    .btnCheck:hover {
        background-image: url(images/checkHover.png);
        background-color: transparent;
        cursor: pointer;
    }

/***************************************************/

footer p {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size:.8em;
    text-align:center;
    bottom:0 !important;
}