<div class="row">
    <div id="general">
        <div id="logo" align="center">
            <img src="~/Content/images/logo.png" alt="Mastermind"/>
            <form action="" method="post" target="_self" name="startgame">
                <input name="txtName" type="text" id="txtName" placeholder="NICKNAME"><br>
                <!--------------------- Buttons ------------------------------>
                <div id="btns" align="center">
                    <input name="btnsingle" type="button" id="btnsingle" value="" onclick="startNewGame();">
                    <p>Have fun!</p>
                </div>
                <div id="btns" align="center">
                    <input name="btnmulti" type="submit" id="btnmulti" value="">
                    <p>Show that you are the best on Mastermind!</p>
                </div>
                <!----------------------------------------------------------->
            </form>
        </div>
    </div>
</div>